@CHARSET "UTF-8";

body {
    font-size: 14px;
    font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}

#logo {
	margin-top:12px;
	font-size:16px;
    width: auto;
}

#logo img {
	height:25px;
	width:auto;
}

#logo-group{
    width:auto!important;
}

.smart-style-1 #logo {
	color:#FFF;
}

.smart-style-1 #project-selector {
	color:#8b91a0;
}

.smart-style-2 #logo {
	color:#C5C6CA;
}

.smart-style-2 #project-selector {
	color:#8b91a0;
}

.smart-style-3 #logo img {
	height:25px;
	width:auto;
}

.smart-style-3 #logo {
	color:#FFF;
}

.ribbon-dropdown-list {
	list-style: none;
    padding:0;
}

.ribbon-dropdown-list>li>.dropdown-toggle {
	display: block;
	color: #aaa;
}

#smart-bgimages {
	font-size: 0px;
}

.sparks-info .sparkline {
	margin: 6px 0 0 10px;
}

#sparks li {
	padding: 0 10px 0 20px;
}

#sparks li h5 {
	margin: auto;
}

nav span {
	vertical-align: middle;
	width:150px;
}

nav ul b {
	position: absolute!important;
	right: 10px;
	top: 7px;
}

.pagination {
	margin: 0;
}

.dt-toolbar {
	padding: 6px 7px;
}

.dd {
    max-width: none;
}

.dd-item>button[data-action=collapse]:before{
	color: #0091d9;
}

.dd3-handle {
	background: none;
	background-color: #ddd;
}

.dd3-content:hover {
	color: black;
}

.radio_icon div {
	display:inline;
}


.list-view .item a{
	display: block;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.select2-hidden-accessible{
	display:none;
}

.fc-last .fc-other-month div{
     visibility:hidden;
 }

.margin-top-15{
	margin-top:15px;
}

.margin-bottom-30{
    margin-bottom:30px;
}

.chat-body li.message{
    position: static;
}

.table-middle>tbody>tr>td,
.table-middle>tbody>tr>th,
.table-middle>tfoot>tr>td,
.table-middle>tfoot>tr>th,
.table-middle>thead>tr>td,
.table-middle>thead>tr>th{
    vertical-align: middle;
}

.border-left{
    border-left:1px dotted #c7c7c7
}

.ajax-dropdown {
    left: 60px;
}

.border-bottom {
    padding-bottom: 5px;
    border-bottom: solid 1px #eee;
}

.jarviswidget header .nav-tabs>li>a {
    padding : 7px 15px 4px;
}

.editable-timec {
    display: block;
    margin-bottom: 5px;
}

.editable-timec span {
    width: 70px;
    display: inline-block;
}

.select2 {
    width: 100%;
}

@media (min-width: 768px){
    .form-inline .select2 {
        width: 250px;
    }
}

.jarviswidget .widget-body{
    min-height: initial;
}