.menu_list
{

    width:185px;
}
.menu_head
{
    width:223px;
    height:47px;
    line-height:47px;
    padding-left:1px;
    font-size:14px;
    color:#525252;
    cursor:pointer;
    border:1px solid #e1e1e1;
    position:relative;
    font-weight:bold;
    background:#f1f1f1 url(/css/images/pro_left.png) center right no-repeat;margin:0;
}
.menu_list .current
{
    background:#f1f1f1 url(/css/images/pro_down.png) center right no-repeat;
}
.menu_body
{
    width:223px;
    height:auto;
    overflow:hidden;
    line-height:38px;
    border-left:1px solid #e1e1e1;
    backguound:#fff;
    border-right:1px solid #e1e1e1;
}
.menu_body a
{
    display:block;
    width:223px;
    height:38px;
    line-height:38px;
    padding-left:38px;
    color:#777777;
    background:#fff;
    text-decoration:none;
    border-bottom:1px solid #e1e1e1;
}
.menu_body a:hover
{
    text-decoration:none;
}